# How to check and handle missing values

In [2]:
import pandas as pd

In [10]:
rawdata='C:/Python34/datasets/nurmijarvi_asunnot_250316.csv'
df = pd.read_csv(rawdata)
print("raw data dataframe size:",df.shape)

raw data dataframe size: (326, 12)

In [13]:
print(df.describe())
print(df['Kaupunginosa'].value_counts())

         Huoneet          m2             Vh   Neliohinta           Rv
count  326.00000  326.000000     326.000000   326.000000   326.000000
mean     3.07362   92.549693  198117.846626  2241.496933  1991.128834
std      0.94825   42.465746   87314.850608   726.253123    17.939264
min      1.00000   21.000000   21525.000000   439.000000  1901.000000
25%      2.00000   60.000000  145000.000000  1843.250000  1979.000000
50%      3.00000   80.750000  190250.000000  2197.000000  1990.000000
75%      4.00000  117.000000  244750.000000  2657.000000  2005.750000
max      4.00000  238.000000  495000.000000  5429.000000  2016.000000
Klaukkala     158
Kirkonkylä     78
Rajamäki       42
Röykkä          8
Lepsämä         6
Nurmijärvi      6
Perttula        6
Palojoki        2
Mäntysalo       1
Alppila         1
Raala           1
Name: Kaupunginosa, dtype: int64

In [8]:
missValues=df.apply(lambda x: sum(x.isnull()),axis=0)
print('Missing values in columns:\n',missValues)

Missing values in columns:
 Kaupunginosa     17
Huoneet           0
Huoneisto         0
Talotiedot        0
m2                0
Vh                0
Neliohinta        0
Rv                0
Krs             138
Hissi             0
Kunto             0
Unnamed: 11     321
dtype: int64